    <div class="site-branding-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="logo">
                        <h1><a href="/"><img src="../img/logo.png"></a></h1>
                    </div>
                </div>
                
                <div class="col-sm-6">
                    <div class="shopping-item">
                        <a href="/carts">Cart - <span class="cart-amunt">$100</span> <i class="fa fa-shopping-cart"></i> <span class="product-count">5</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div> 
	<!-- End site branding area -->
	
			<div>
                <%= form_for :session, url: login_path ,html: {:class => 'login100-form validate-form flex-sb flex-w'} do |f| %>
					<span class="login100-form-title p-b-20">
						LogIn
					</span>

					
					<div class="wrap-input100 validate-input m-b-16" data-validate = "Username is required">
                        <%= f.email_field :email, class: "input100", placeholder:"Username"%>
						<span class="focus-input100"></span>
					</div>
					
					
					<div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
                        <%= f.password_field :password, class: "input100",placeholder:"Password" %>
						<span class="focus-input100"></span>
					</div>
					
					<div class="flex-sb-m w-full p-t-3">
						<div class="contact100-form-checkbox">
                        <%= f.check_box :remember_me, class: "input-checkbox100", id:"ckb1"%>
							<label class="label-checkbox100" for="ckb1">
								Remember me
							</label>
						</div>

						<div>
							<a href="#" class="txt1">
								Forgot your password?
							</a>
						</div>
					</div>
					<div class="not-member">
								Not a member?
                        <%= link_to "Sign up now!", signup_path,class: "txt1" %>   
					</div>
					<div class="container-login100-form-btn m-t-17">
						<button class="login100-form-btn">
							LogIn
						</button>
					</div>

                <% end %>
			</div>
	<!--End Login-->