<div>
  <%= form_with(model: user, html: { multipart: true, :class=>'login100-form validate-form flex-sb flex-w' }, local: true) do |form| %>
         <% if user.errors.any? %>
         <div id="error_explanation">
           <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

           <ul>
             <% user.errors.full_messages.each do |message| %>
             <li><%= message %></li>
             <% end %>
           </ul>
         </div>
         <% end %>

          <span class="login100-form-title p-b-20">
            Signup
          </span>

          <label class="label">
            Username
          </label>
          <div class="wrap-input100 validate-input m-b-16" >
            <%= form.text_field :name, id: :user_name,class: "input100-s" %>
          </div>
          
          <label class="label">
            Email
          </label>
          <div class="wrap-input100 validate-input m-b-16" >
            <%= form.email_field :email, id: :user_email, class: "input100-s" %>
          </div>
          
          <label class="label">
            Password
          </label>
          <div class="wrap-input100 validate-input m-b-16" >
            <%= form.password_field :password, id: :user_password, class: "input100-s" %>
          </div>
          
          <label class="label">
            Confirm Password
          </label>
          <div class="wrap-input100 validate-input m-b-16" >
            <%= form.password_field :password_confirmation, id: :user_password_confirmation,class: "input100-s" %>
          </div>

          <label class="label">
            Avatar
          </label>
          <div class="wrap-input100 validate-input m-b-16" >
            <%= form.file_field :avatar, id: :user_avatar, class: "radio"%>
          </div>
          
          <label class="label">
            Phone
          </label>
          <div class="wrap-input100 validate-input m-b-16" >
            <%= form.text_field :phone, id: :user_phone, class: "input100-s" %>
          </div>
          
          <label class="label">
            City
          </label>
          <div class="wrap-input100 validate-input m-b-16" >
            <%= form.text_field :city, id: :user_city, class: "input100-s" %>
          </div>

          <label class="label">
            Address
          </label>
          <div class="wrap-input100 validate-input m-b-16" >
            <%= form.text_field :address, id: :user_address, class: "input100-s" %>
          </div>
                   
          <div class="container-login100-form-btn m-t-17">
            <%= form.submit 'Signup', :class => "login100-form-btn" %>
          </div>
         <% end %>
</div>