    <div class="header-area">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="user-menu">
              <ul>
                <li><a href="#"><i class="fa fa-user"></i> My Account</a></li>
                <li><a href="#"><i class="fa fa-heart"></i> Wishlist</a></li>
                <li><a href="/carts"><i class="fa fa-user"></i> My Cart</a></li>
                <li><a href="/checkouts"><i class="fa fa-user"></i> Checkout</a></li>
                <li><a href="/login"><i class="fa fa-user"></i> SignIn</a></li>
              </ul>
            </div>
          </div>
          
          <div class="col-md-4">
            <div class="header-right">
              <ul class="list-unstyled list-inline">
                <li class="dropdown dropdown-small">
                  <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" href="#"><span class="key">currency :</span><span class="value">USD </span><b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">USD</a></li>
                    <li><a href="#">INR</a></li>
                    <li><a href="#">GBP</a></li>
                  </ul>
                </li>

                <li class="dropdown dropdown-small">
                  <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" href="#"><span class="key">language :</span><span class="value">English </span><b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">English</a></li>
                    <li><a href="#">French</a></li>
                    <li><a href="#">German</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- End header area -->
    
    <div class="site-branding-area">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <div class="logo">
              <h1><a href="/"><img src="../img/logo.png"></a></h1>
            </div>
          </div>
          
          <div class="col-sm-6">
            <div class="shopping-item">
              <a href="/carts">Cart - <span class="cart-amunt">$100</span> <i class="fa fa-shopping-cart"></i> <span class="product-count">5</span></a>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- End site branding area -->
    
    <div class="mainmenu-area">
      <div class="container">
        <div class="row">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div> 
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="#">Category</a></li>
              <li><a href="/shops">Shop page</a></li>
              <li><a href="/carts">Cart</a></li>
              <li><a href="/checkouts">Checkout</a></li>
              <li><a href="#">Others</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>  
        </div>
      </div>
    </div>
    <!-- End mainmenu area -->
    
    <div class="container">
      <div class="row profile">
        <div class="col-md-3">
          <div class="profile-sidebar">
            <div class="profile-userpic">
              <%= image_tag @user.avatar.url(:thumb) %>
            </div>
            <div class="profile-usertitle">
              <div class="profile-usertitle-name">
                <%= @user.name %>
              </div>
            </div>

            <div class="profile-usermenu">
              <ul class="nav">
                <li class="active" id="proInfo">                                  
                    <%= link_to "Profile", current_user %>
                </li>               

              <% if current_user?(@user) %>
                <li id="proChangePass"> 
                    <%= link_to "Edit", edit_user_path(current_user) %>
                </li>

                <li id="proChangePass"> 
                    <%= link_to "Change Password", edit_password_change_path(current_user) %>
                </li>

                <li>                  
                    <%= link_to "Log out", logout_path, method: :delete %>
                </li>
              <% end %>

              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-9">
          <div class="profile-content">


            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-8">


                <form id="signupform" action="https://id.foody.vn/tai-khoan" class="form-horizontal ng-pristine ng-valid" method="post" role="form" novalidate="novalidate">        <div class="form-group">
                  <label class="control-label col-md-4"></label>
                  <div class="col-md-8">
                    <h3 style="margin:0">Account Profile</h3>
                  </div>
                </div>
                <input name="__RequestVerificationToken" type="hidden" value="VCI9ivTcI57abGPtru1YIto15j-chLG8tjF-n2GiACtUzRZIscZx8f6HKzDVzKB8uzhpz4GKGJ1vsXzLHSbaXvPmeEPl0jXJfW2_-IfTktI1">    <div class="form-group">
                  <label class="control-label col-md-4">Name</label>
                  <div class="col-md-8" style="padding-top: 7px;">
                    <%= @user.name %>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-4">Email</label>
                  <div class="col-md-8" style="padding-top: 7px;">
                    <%= @user.email %>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-4">Phone</label>
                  <div class="col-md-8" style="padding-top: 7px;">
                    <%= @user.phone %>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-4">City</label>
                  <div class="col-md-8" style="padding-top: 7px;">
                    <%= @user.city %>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-4">Address</label>
                  <div class="col-md-8" style="padding-top: 7px;">
                    <%= @user.address %>
                  </div>
                </div>                

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>