<%=render "layouts/header1" %>
<%if @orders != []%>
    <% @orders.each do |order| %>
    <form method="post" action="#" style="width:700px;margin:auto auto">
    <a href="/orders/<%=order.id%>"> <h1>Order ID : <%=order.id%> </h1></a>
    <h>Created at: <%=order.created_at%></h>
    <h>| Updated at: <%=order.updated_at%></h><br>
    <h>Status: <%=order.is_checked%></h>
      <table cellspacing="0" class="shop_table cart">
        <tbody>
         <% order.line_items.each do |item| %>
            <tr>
                <td><%= item.quantity %> x </td>
                <td><%= item.product.name %></td>  
            </tr>
            <% end %> 
            <tr>
                <th>Total: </th>
                <td>£<%= order.total_price%></td> 
            </tr>
          
        </tbody>
      </table>
    </form>
    <% end %>
<%else%>
<h1 style="width:700px;margin:auto auto"> There's nothing for you </h1>
<%end%>
  
