  <% provide(:title, "Checkout") %> 
   <%= render 'layouts/header_no_mainmenu' %>

    <div class="mainmenu-area">
      <div class="container">
        <div class="row">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
      </div> 
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><%= link_to "Home", root_path %></li>

          <!---------HIEU1-------->
          <li id="category">
            <%= link_to "All category","http://localhost:3000/shops/index" %>
            <ul class="cate-sub">

                <li id="category2">
                    <%= link_to "Laptop","http://localhost:3000/shops/classify?cateid=2&method=post",:method => 'post' %>
                    <ul class="cate-sub-sub">
                     <li><a href="http://localhost:3000/shops/classify?cateid=3&method=post" data-method="post">Gaming Laptop</a></li>
                     <li><a href="http://localhost:3000/shops/classify?cateid=4&method=post" data-method="post">Bussiness Laptop</a></li>
                     <li><a href="http://localhost:3000/shops/classify?cateid=5&method=post" data-method="post">Workstation Laptop</a></li>
                 </ul>
             </li>

             <li id="category6">
                <%= link_to "Desktop","http://localhost:3000/shops/classify?cateid=6&method=post",:method => 'post' %>
                <ul class="cate-sub-sub">
                    <li> <a href="http://localhost:3000/shops/classify?cateid=7&method=post" data-method="post">All-in-one Desktop</a></li>
                    <li> <a href="http://localhost:3000/shops/classify?cateid=8&method=post" data-method="post">Gaming Desktop</a></li>
                </ul>
            </li>

            <li id="category9">
                <%= link_to "Tablet","http://localhost:3000/shops/classify?cateid=9&method=post",:method => 'post' %>
                <ul class="cate-sub-sub">
                 <li> <a href="http://localhost:3000/shops/classify?cateid=10&method=post" data-method="post">Ipad</a></li>
                 <li> <a href="http://localhost:3000/shops/classify?cateid=11&method=post" data-method="post">Android Tablet</a></li>
                 <li> <a href="http://localhost:3000/shops/classify?cateid=12&method=post" data-method="post">Other Tablet</a></li>
             </ul>
         </li>
         <li id="category13">
            <%= link_to "Phone","http://localhost:3000/shops/classify?cateid=13&method=post",:method => 'post' %>
        </li>
    </ul>
</li>


<li><a href="/shops">Shop page</a></li>
<li><a href="/carts/<%=current_cart.id%>">Cart</a></li>
<li class="active"><a href="/orders/new">Checkout</a></li>
<li><a href="/orders">Orders</a></li>
<li><a href="#">Contact</a></li>
</ul>
</div>  
</div>
</div>
</div>
    <!-- End mainmenu area -->

    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>Shopping</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!------NEW ODER------>
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">               
                <div class="col-md-8">
                    <div class="product-content-right">
                        <div class="woocommerce">

                            <form action="/orders/create" method="post" class="button_to">
                                <div id="customer_details" class="col2-set">
                                    <div class="col-2">
                                        <div class="woocommerce-shipping-fields">
                                            <h1 style="color:#5A88CA" id="ship-to-different-address">
                                                <label class="checkbox" for="ship-to-different-address-checkbox">Checkout</label>
                                            </h1>
                                            <div class="shipping_address" style="display: block;">

                                                <p class="form-row form-row-first validate-required">
                                                    <label class="" for="shipname">Ship Name 
                                                    </label>
                                                    <input type="text" name="shipname" class="input-text " value="<%=current_user.name%>">
                                                </p>
                                                <p class="form-row form-row-wide address-field validate-required">
                                                    <label class="" for="city">City
                                                    </label>
                                                    <input type="text" name="city" class="input-text " value="<%=current_user.city%>">
                                                </p>
                                                <div class="clear"></div>
                                                <p class="form-row form-row-wide address-field validate-required">
                                                    <label class="" for="shipaddress">Ship Address
                                                    </label>
                                                    <input type="text" name="shipaddress" class="input-text " value="<%=current_user.address%>">
                                                </p>
                                                <p class="form-row form-row-last address-field validate-required validate-postcode" >
                                                    <label class="" for="phone">Phone 
                                                    </label>
                                                    <input type="text" name="phone" class="input-text " value="<%=current_user.phone%>">
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <input value="Create Order" type="submit" />
                                <input name="authenticity_token" type="hidden" value="10f2163b45388899ad4d5ae948988266befcb6c3d1b2451cf657a0c293d605a6"/>
                            </form>
                        </div>                       
                    </div>                    
                </div>
            </div>
        </div>
    </div>
    <!------NEW ODER------>

    <div class="footer-top-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="footer-about-us">
                        <h2>u<span>Stora</span></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis sunt id doloribus vero quam laborum quas alias dolores blanditiis iusto consequatur, modi aliquid eveniet eligendi iure eaque ipsam iste, pariatur omnis sint! Suscipit, debitis, quisquam. Laborum commodi veritatis magni at?</p>
                        <div class="footer-social">
                            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="footer-menu">
                        <h2 class="footer-wid-title">User Navigation </h2>
                        <ul>
                            <li><a href="">My account</a></li>
                            <li><a href="">Order history</a></li>
                            <li><a href="">Wishlist</a></li>
                            <li><a href="">Vendor contact</a></li>
                            <li><a href="">Front page</a></li>
                        </ul>                        
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="footer-menu">
                        <h2 class="footer-wid-title">Categories</h2>
                        <ul>
                            <li><a href="">Mobile Phone</a></li>
                            <li><a href="">Home accesseries</a></li>
                            <li><a href="">LED TV</a></li>
                            <li><a href="">Computer</a></li>
                            <li><a href="">Gadets</a></li>
                        </ul>                        
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="footer-newsletter">
                        <h2 class="footer-wid-title">Newsletter</h2>
                        <p>Sign up to our newsletter and get exclusive deals you wont find anywhere else straight to your inbox!</p>
                        <div class="newsletter-form">
                            <input type="email" placeholder="Type your email">
                            <input type="submit" value="Subscribe">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="copyright">
                        <p>&copy; 2015 uCommerce. All Rights Reserved. <a href="http://www.freshdesignweb.com" target="_blank">freshDesignweb.com</a></p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="footer-card-icon">
                        <i class="fa fa-cc-discover"></i>
                        <i class="fa fa-cc-mastercard"></i>
                        <i class="fa fa-cc-paypal"></i>
                        <i class="fa fa-cc-visa"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Latest jQuery form server -->
    <script src="https://code.jquery.com/jquery.min.js"></script>

    <!-- Bootstrap JS form CDN -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <!-- jQuery sticky menu -->
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.sticky.js"></script>

    <!-- jQuery easing -->
    <script src="js/jquery.easing.1.3.min.js"></script>

    <!-- Main Script -->
    <script src="js/main.js"></script>
  </body>
  </html>
