<%=render "layouts/header1" %>
 <table class="shop_table" style="width: 500px;margin-left: auto;margin-right: auto; margin-top: 50px">
 	<thead>
 		<tr>
 			<th class="product-name">Information</th>
 			<th class="product-total">Details</th> 			
 		</tr>
 	</thead>
 	<tbody>
 		<tr class="cart_item">
 			<td class="product-name">
 				Shipname
 			</td>
 			<td class="product-total">
 				<%= @order.shipname %>
 			</td>
 		</tr>
 		<tr class="cart_item">
 			<td class="product-name">
 				Shipaddress
 			</td>
 			<td class="product-total">
 				<%= @order.shipaddress %>
 			</td>
 		</tr>
 		 		<tr class="cart_item">
 			<td class="product-name">
 				Phone
 			</td>
 			<td class="product-total">
 				<%= @order.phone %>
 			</td>
 		</tr>
 		 		<tr class="cart_item">
 			<td class="product-name">
 				City
 			</td>
 			<td class="product-total">
 				 <%= @order.city %>
 			</td>
 		</tr>
 	</tbody>
 </table>
<form method="post" action="#" style="width:700px;margin:auto auto">
<h2>Your Order</h2>
	<table cellspacing="0" class="shop_table cart">
		<thead>
			<tr>
				<th class="product-thumbnail">&nbsp;</th>
				<th class="product-name">Product</th>
				<th class="product-price">Price</th>
				<th class="product-quantity">Quantity</th>
				<th class="product-subtotal">Total</th>
			</tr>
		</thead>
		<tbody>
		<%= render @order %>
			
		</tbody>
	</table>
</form>
