<% provide(:title, "All Products") %>
<%= render 'layouts/header1' %>

<div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>ALL BRANDS</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class=" header-area">
    <div class="container">
      <div class="form-group" style="float: left">
          <label class="control-label">Import Data</label>
          <%= form_tag import_products_path, multipart: true do %>
          <%= file_field_tag :file,style:"margin-bottom:10px" %>
          <%= submit_tag "Import" %>
          <% end %>
      </div>
      <div style="float:right; margin-right: 470px">
          <label><%= "Create New Product?" %></label>
          <%= link_to 'Click Here!', new_product_path,style:'font-size:15px' %>
      </div>
  </div>
</div>

<div class="brands-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="brand-wrapper">
                    <div class="brand-list">    
                        <% @brands.each do |brand| %>
                        <%= link_to (image_tag brand.image.url(:medium),class: "image-size"),controller: "products", action: "single_brand", :brand_id => brand.id %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
