<% provide(:title, @brand.name) %>
<%= render 'layouts/header1' %>
<div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2><%= @brand.name.upcase %></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div><%= will_paginate %></div>
<% @products.each do |product| %>
      <%= render 'index_form', product: product %>
<% end %>
<div><%= will_paginate %></div>
