    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ustora Demo</title>
    
    <!-- Google Fonts -->
   <%=stylesheet_link_tag"http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600"%>
    <%=stylesheet_link_tag"http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300"%>
    <%=stylesheet_link_tag"http://fonts.googleapis.com/css?family=Raleway:400,100"%>
    
       <%=stylesheet_link_tag"css/styles.css"%>
    <%=stylesheet_link_tag"css/bootstrap.css"%>
    <%=stylesheet_link_tag"css/responsive.css"%>
    
    <!-- Font Awesome -->
    <%=stylesheet_link_tag"css/font-awesome.min.css"%>
    <!-- Bootstrap -->
    <%=stylesheet_link_tag"bootstrap.min.css"%>
    
    <!-- Font Awesome -->
    <%=stylesheet_link_tag"font-awesome.min.css"%>
    
    <!-- Custom CSS -->
    <%=stylesheet_link_tag"owl.carousel.css"%>
    <%=stylesheet_link_tag"style.css"%>
    <%=stylesheet_link_tag"responsive.css"%>
    <%=stylesheet_link_tag"login/main.css"%>
    <%=stylesheet_link_tag"login/util.css"%>
 