    <div class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="user-menu">
                        <ul>
                            <% if admin_logged_in? %>
                            <i class="fa fa-user"></i>                                                                          <li><%= link_to "My Account", current_admin %></li>
                            <i class="fa fa-pencil-square-o"></i>
                            <li id="proChangePass"><%= link_to "Manage Users", users_url %></li>
                            <i class="fa fa-pencil-square-o"></i>
                            <li id="proChangePass"><%= link_to "Manage Products", products_url %></li>
                            <i class="fa fa-sign-out"></i>
                            <li id="proChangePass"><%= link_to "Log out", logout_path, method: :delete %></li>                     
                            <% elsif logged_in? %>
                            <i class="fa fa-user"></i>
                            <li><%= link_to "My Account", current_user %></li>
                            <li><a href="#"><i class="fa fa-heart"></i> Wishlist</a></li>
                            <li><a href="/carts/<%=current_cart.id%>"><i class="fa fa-shopping-cart"></i> My Cart</a></li>
                            <li><a href="checkout.html"><i class="fa fa-pencil-square-o"></i> Checkout</a></li>
                            <i class="fa fa-sign-out"></i>
                            <li id="proChangePass"><%= link_to "Log out", logout_path, method: :delete %></li>                      
                            <% else %>
                            <i class="fa fa-sign-in"></i>
                            <li><%= link_to "Log in", login_path %></li>
                            <i class="fa fa-user"></i>
                            <li><%= link_to "Sign up", signup_path %></li>
                            <li><a href="#"><i class="fa fa-heart"></i> Wishlist</a></li>
                            <li><a href="/carts/<%=current_cart.id%>"><i class="fa fa-shopping-cart"></i> My Cart</a></li>
                            <li><a href="checkout.html"><i class="fa fa-pencil-square-o"></i> Checkout</a></li>
                            <% end %>                            
                        </ul>
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="header-right">
                        <ul class="list-unstyled list-inline">
                            <li class="dropdown dropdown-small">
                                <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" href="#"><span class="key">currency :</span><span class="value">USD </span><b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">USD</a></li>
                                    <li><a href="#">INR</a></li>
                                    <li><a href="#">GBP</a></li>
                                </ul>
                            </li>

                            <li class="dropdown dropdown-small">
                                <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" href="#"><span class="key">language :</span><span class="value">English </span><b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">English</a></li>
                                    <li><a href="#">French</a></li>
                                    <li><a href="#">German</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End header area -->
    
    <div class="site-branding-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="logo">
                        <h1><a href="/"><img src="/img/mylogo.jpg"></a></h1>
                    </div>
                </div>                
                <div class="col-sm-6">
                    <div class="shopping-item">
                        <a href="/carts/<%=current_cart.id%>">Cart - <span class="cart-amunt">$<%= current_cart.total_price%></span> <i class="fa fa-shopping-cart"></i> <span class="product-count"><%= current_cart.total_item%></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End site branding area -->

    <div class="mainmenu-area">
      <div class="container">
        <div class="row">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
      </div> 
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><%= link_to "Home", root_path %></li>
          <!---------HIEU1-------->
          <li id="category">
            <a href="#">All category</a>
            <ul class="cate-sub">

                <li id="category2">
                    <a href="#">Laptop</a>
                    <ul class="cate-sub-sub">
                        <li id="category3"><a href="#">Gaming Laptop</a></li>
                        <li id="category4"><a href="#">Bussiness Laptop</a></li>
                        <li id="category5"><a href="#">Workstation Laptop</a></li>
                    </ul>
                </li>

                <li id="category6">
                    <a href="#">Desktop</a>
                    <ul class="cate-sub-sub">
                        <li id="category7"><a href="#">All-in-one Desktop</a></li>
                        <li id="category8"><a href="#">Gaming Desktop</a></li>
                    </ul>
                </li>

                <li id="category9">
                    <a href="#">Tablet</a>
                    <ul class="cate-sub-sub">
                        <li id="category10"><a href="#">Ipad</a></li>
                        <li id="category11"><a href="#">Android Tablet</a></li>
                        <li id="category12"><a href="#">Other Tablet</a></li>
                    </ul>
                </li>

                <li id="category13">
                    <a href="#">Phone</a>
                </li>

            </ul>
        </li>

        <li><a href="/shops">Shop page</a></li>
        <li><a href="/carts/<%=current_cart.id%>">Cart</a></li>
        <li><a href="/checkouts">Checkout</a></li>
        <li><a href="#">Others</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</div>  
</div>
</div>
</div>
    <!-- End mainmenu area -->